<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canvas Tasker</title>
  <style>
      /* Additional styles to ensure full height */
      html, body {
          height: 100%;
      }
  </style>
</head>
<body class="flex justify-center items-center h-full">
<div class="container-md">
  <div id="title" class="flex font-bold text-7xl justify-center text-center items-end">
    <p class="text-red-500">Canvas</p>
    <i class="fa-solid fa-arrow-right mx-2" style="height: 0.9em; width: 0.9em"></i>
    <img alt="icon of Google Tasks" src="/static/img/Google_Tasks_2021.svg" style="height: 0.9em">
  </div>
  {% if "access_token" not in session %}
    <div class="flex justify-center mt-8">
      <button onclick="window.location = '{{ url_for("oauth2") }}'"
              class="h-12 min-w-[8rem] p-2 rounded-lg border-2 border-blue-500 bg-blue-500 font-bold text-blue-50 shadow-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-600">
        <i class="fa-brands fa-google mr-1"></i>Login with Google
      </button>
    </div>
  {% else %}
    <div class="max-w-md mx-auto mt-8">
      <!-- form to input ical url -->
      <label for="icalUrlInput" class="block text-md font-medium leading-6 text-gray-900">ical URL</label>
      <div class="relative mt-2 rounded-md shadow-sm">
        <input type="url" name="ical_url" id="icalUrlInput"
               class="block w-full required:border-red-500 rounded-md border-0 py-1.5 px-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-800 sm:text-sm sm:leading-6"
               placeholder="URL">
        <div class="absolute inset-y-0 right-0 flex items-center">
          <button id="icalUrlSubmitBtn" disabled
                  class="flex disabled:opacity-75 items-center h-full p-2 rounded-r-md border-2 border-gray-800 bg-black text-white shadow-lg hover:drop-shadow-lg focus:outline-none focus:ring focus:ring-gray-700">
            <i class="fa-solid fa-check"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="max-w-md mx-auto mt-4">
      <label for="icalUrlInput" class="block mt-5 text-md font-medium leading-6 text-gray-900">リストを選択</label>
      <div class="flex relative max-h-50 justify-center max-w-md mx-auto mt-2">
        <button id="dropdownButton"
                class="h-full w-full py-2 px-3 text-left bg-white border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-inset focus:ring-gray-800 sm:text-sm">
          リストを選択
        </button>
        <ul id="dropdown"
            class="absolute hidden w-full mt-1 bg-white rounded-md shadow-lg max-h-60 overflow-auto"></ul>
        <div class="absolute inset-y-0 right-0 flex items-center">
          <button
              disabled
              id="taskListSubmitBtn"
              class="flex disabled:opacity-75 items-center h-full p-2 rounded-r-md border-2 border-gray-800 bg-black text-white shadow-lg hover:drop-shadow-lg focus:outline-none focus:ring focus:ring-gray-700">
            <i class="fa-solid fa-check"></i>
          </button>
        </div>
      </div>
    </div>
  {% endif %}
</div>
<!-- link to tos and privacy policy on footer -->
<footer class="fixed bottom-0 w-full text-center text-gray-500 text-sm">
  <a href="/tos">利用規約 (Terms of Service)</a>
  <span class="mx-2">|</span>
  <a href="/privacy-policy">プライバシーポリシー (Privacy Policy)</a>
</footer>
<script src="/static/js/script.js"></script>
</body>
</html>